In [1]:
caption_file_path = './dataset/results.csv'
import pandas as pd

In [3]:
df = pd.read_csv(caption_file_path, sep='|')

In [4]:
df.head()

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many..."
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .

In [93]:
df.dropna(inplace=True)

In [94]:
df_groups = df.groupby(by='image_name', group_keys=True)

In [95]:
d = dict()

for name, group in df_groups:
    d[name.split('.')[0]] = group[' comment'].to_list()

In [96]:
import json
output_json_file = './dataset/results.json'

with open(output_json_file, 'w') as f:
    json.dump(d, f)

True

In [63]:
with open('./dataset/captions.json', 'r') as f:
    data = json.load(f)

In [ ]:
path2vectorizer = 'src/vectorizer.pkl'
path2images = 'dataset/flickr30k_images'
path2captions = 'dataset/captions.json'
extension = 'jpg'
path2features = 'src/features.pkl'
path2tokenids = 'src/token_ids.pkl'
path2vocabulary = 'src/vocab.pkl'